/* styles.css */
/* .formDisplay {
    background-image: url("C:\Code-Repos\IUX-projects\app\src\assets\bg\backimg - Copy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  } */

  .formatcont{
    height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
  padding-right: 5rem;
  /* background-image: url("C:/Code-Repos/IUX-projects/app/src/assets/bg/backimg - Copy.jpg"); */
  /* background-image: url("C:/Code-Repos/IUX-projects/app/src/assets/Images/MicrosoftTeams-image.jpg"); */
  background-image: url("F:/IUX/presto-iux/web app/app/src/assets/Images/Login-Desktop-KaiEmbed_3.png");
  
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    img {
      height: 5rem;
    }
    h1 {
      color: blue;
      text-transform: uppercase;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #eee;
    border-radius: 2rem;
    padding: 5rem;
  }

  /* never used */
  input {
    background-color: #f2f2f2;
    padding: 1rem;
    border: 0.1rem solid #dbd8e4;
    border-radius: 0.4rem;
    color: #131324;
    width: 100%;
    font-size: 1rem;
    &:focus {
      border: 0.1rem solid #f2f2f2;
      outline: none;
    }
  }

  button {
    /* background: transparent linear-gradient(90deg, #1BAFF8 0%, #0F56B5 100%) 0% 0% no-repeat padding-box;; */
    background-color:#0F56B5;
    color: white;
    height: 42px;
    /* padding: 1rem 2rem; */
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 21px;
    font-size: 1rem;
    text-transform: uppercase;
    &:hover {
      background-color: transparent linear-gradient(90deg, #1BAFF8 0%, #0F56B5 100%) 0% 0% no-repeat padding-box;;
    }
  }

  .volume-button {
    background-color: #f2f2f2;
    color: #1389fd;
    /* font-size: 1.5rem; */
    height: 40px;
    justify-content: center;
    margin-left: auto;
    margin-top: 6px;
    padding-top: 11px;
    position: absolute;
    right: -40px;
    width: 40px;
    font-weight: bold;
}

.volume-button .svg-inline--fa {
  color: #1389fd;
  font-size: 16px;
  height: 1.1em;
  overflow: visible;
  vertical-align: 1em;
}

  .spanlogin {
    color: #131314;
    text-transform: uppercase;
    a {
      color: #131314;
      text-decoration: none;
      font-weight: bold;
    }
  }
  
  @media only screen and (max-width: 1024px){
    .formatcont{
      padding-right: 1rem;
      padding-left: 1rem;
    }
    
    form{
      gap: 1rem;
    }
  }

  @media only screen and (max-width: 768px){
    .formatcont{
      background-image: url("F:/IUX/presto-iux/web app/app/src/assets/Images/Login-Mobile–KaiEmbed.png");
    }
  } 


  @media only screen and (max-width: 480px) {
    
    form{
      padding: 2rem 5rem 5rem 5rem;
    }
  }
  