
thead {color:blue;}
tbody {color:rgb(6, 6, 26);}
tfoot {color:red;}

/* table, th, td {
  border: 0.5px solid black;
} */

table {
  border-collapse: collapse;
  width: 100%;
}

th{
  text-align: center;
  font-weight: 500;
}

td{
  text-align: left;
}
th, td {
  border: 1px solid #ccc;
  padding: 2px;
  /* text-align: left; */
  /* white-space: nowrap; prevent wrapping by default */
  overflow: hidden;
  /* text-overflow: ellipsis; show ellipsis (...) for overflowing text */
}

td.wrap-text {
  white-space: normal; /* allow wrapping for specific cells */
  overflow: auto;
  word-wrap: break-word;
}

td.center-align{
  text-align: center;
}

.table-border{
  /* padding-left: 10px; */
  /* padding-top: 10px; */
  border: 1px solid #ccc;
  /* align-items: flex-start; */
}

.table-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1000px;
}

.text-container{
  width: 1150px;
}

.text-container-with-sidebar{
  width: 1000px;
}

.chartTitle{
  width: 1050px;
  padding-left: 20px;
  text-align: center;
}

.chartdetails{
  font-weight: bold;
}

.chartheading{
  width: 1050px;
  font-weight: bold;
  padding-left: 20px;
  text-align: center;
}


@media (resolution: 1.5dppx) {
  .text-container{
    width: 950px;
  }
}
@media (max-width: 768px) {
  .table-container{
    width: 100%;
  }

  .text-container{
    width: 100%;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .text-container{
    width: 800px;
  }

  .text-container-with-sidebar{
    width: 100%;
  }
}


